.bread-crumbs {
	@extend %listreset;
	margin: 47px 0 28px 0;
	li {
		color: $brand-orange;
		display: inline-block;
		vertical-align: middle;
		a {
			color: $brand-orange;
			font-size: 14px;
			line-height: 26px;
			vertical-align: text-top;
			transition: color .3s;
			&:hover {
				color: $blue;
			}
		}
		&:after {
			content: ">";
			margin-left: 8px;
			&:last-child {
				display: none;
			}
		}
	}
	.active {
			a {
			color: $blue;
			cursor: default;
    		pointer-events: none;
    		&:hover {
    			color: $blue;
    		}
		}
	}
}