.btn {
    color: $dark-blue;
    font-size: 18px;
    padding: 10px 29px;
    background-color: $light;
    font-weight: bold;
    font-family: (map-get($base, Roboto));
    display: inline-block;
     @include media('<tablet') {
    	padding: 15px 20px;
     	font-size: 14px;
     }
    		
    &-primary{
    	background-color: $brand-orange;
    	color: $white;
    }
}
