.news-page {
	h2 {
		text-align: center;
		color: $brand-orange;
		font-family: map-deep-get($base, font-Days);
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 3px;
		margin-bottom: 65px;
			@include media('<desktop') {
			font-size: 20px;
			margin-bottom: 35px;
			}
			@include media('<tablet') {
			margin-bottom: 25px;
			}		
			@include media('<phone') {
			margin-bottom: 15px;
			}
	}
}

.news-container {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include media('<tablet') {
		flex-direction: column;
		}
	}

.news-holder {
	width: 49%;
	margin-bottom: 90px;
		@include media('<desktop') {
		margin-bottom: 60px;
		}
		@include media('<tablet') {
		width: 100%;
		margin-bottom: 30px;
		}		
		@include media('<phone') {
		margin-bottom: 20px;
		}
	.news-picture {
		display: block;
		margin-bottom: 35px;
		transition: opacity .3s;
		@include media('<desktop') {
		margin-bottom: 25px;
		}
		@include media('<tablet') {
		margin-bottom: 20px;
		}		
		@include media('<phone') {
		margin-bottom: 15px;
		}
			img {
			width: 100%;
			height: auto;
		}
		&:hover {
			opacity: .7;
		}
	}

	h3 {
		font-family: map-deep-get($headings, fonts, headings-font-family);
		text-align: left;
		color: $dark-blue;
		margin-bottom: 35px;
		transition: color .3s;
		font-size: 18px;
		@include media('<desktop') {
		margin-bottom: 20px
		}	
		@include media('<tablet') {
		margin-bottom: 15px;
		}		
		@include media('<phone') {
		margin-bottom: 10px;
		font-size: 16px;
		}
		&:hover {
			color: $brand-orange;
		}
	}
	p {
		color: #626262;
		font-size: 16px;
		@include media('<tablet') {
		font-size: 14px
		}
	}
}
.video-page {
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}
	p {
		font-size: 16px;
	}
	.note-video-clip {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	}
}