.search-result {
	h1 {
		text-align: center;
		@include media('<phone') {
			font-size: 18px;
		}
	}
	.product-thumb {
		padding: 10px;
		width: 70%;
		margin: 0 auto;
		color: $dark-blue;
		border-bottom: 2px solid $dark-blue;
		margin-bottom: 30px;
		@include media('<tablet') {
			width: 100%;
			margin-bottom: 0;
			padding-bottom: 30px;
				&:last-child {
					margin-bottom: 20px;
				}
			}
		@extend %clearfix;
		.image {
			width: 30%;
			float: left;
			@include media('<phone') {
			width: 100%;
			text-align: center;
			}
		}
		.product-thumb-description {
			width: 69%;
			float: left;
			text-align: left;
			margin-left: 1%;
			@include media('<phone') {
			width: 100%;
			margin: 0;
			text-align: center;
			}
		}
		.caption {
			h4 {
				a {
					color: $dark-blue;
					transition: color .3s;
					&:hover {
						color: $brand-orange;
					}
				}
			}
			p {
			font-size: 16px;	
			@include media('<tablet') {
				font-size: 13px;
				}
			}
		}
		.btn {
			border: 0;
			outline: 0;
			@include media('<tablet') {
				padding: 6px;
			}
			@include media('<phone') {
				font-size: 10px;
				width: 50%;
			}
		}
		.price {
			font-weight: 700;
		}
	}
	.text-right {
		margin-bottom: 20px;
    	color: $dark-blue;
    	font-size: 16px;
	}
}
