.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	@extend %clearfix;
}
.wrapper{
	overflow: hidden;
}

.js-tab-hidden {
    display:block !important;
    left:-9999px !important;
    position: absolute !important;
    top:-9999px !important;
}
