header {
}

.top-header {
	position: relative;
	padding: 20px 0 20px 153px;
	box-sizing: border-box;
	@extend %clearfix;
		@include media('<widescreen') {
		padding-left:  110px;
	}
	@include media('<=tablet') {
		padding-left:  60px;
	}
}

.contact-block {
	display: flex;
	float: left;
	height: 52px;
	align-items: center;
}
.tel-block {
	@include media('<desktop') {
	width: 60%;
	display: flex;
	justify-content: flex-start;
	height: 25px;
	}
	@include media('<tablet') {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	height: 30px
	}
}
.mail-block {
	@include media('<desktop') {
	width: 40%;
	display: flex;
	justify-content: flex-start;
	height: 25px;
	}
	@include media('<tablet') {
	width: 50%;
	display: flex;
	justify-content: center;
	height: 30px;
	}
}
.icon-box {
	display: flex;
	align-items: center;
	margin-right: 12px;
	&-phone{
		i {
			width: 22px;
			height: 22px;
			background-color: $brand-orange;
			border-radius: 3px;
			font-size: 18px;
			text-align: center;
			line-height: 22px;
		}
	}
	&-mail {
		i {
			width: 22px;
			height: 22px;
			background-color: $brand-orange;
			border-radius: 3px;
			font-size: 12px;
			text-align: center;
			line-height: 22px;
		}
	}
	&-login {
		i {
			width: 22px;
			height: 22px;
			background-color: $brand-orange;
			border-radius: 3px;
			font-size: 12px;
			text-align: center;
			line-height: 22px;
		}
	}
}
.tel-box {
	margin-right: 54px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include media('<widescreen') {
		margin-right: 27px;
	}
	@include media('<desktop') {
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}
	.tel-link {
		font-size: 14px;
		line-height: 1.2;
		color: $dark-blue;
		font-weight: 700;
	}
}
.mail-link {
	font-size: 14px;
	color: $dark-blue;
	font-weight: 700;
}

.top-nav {
	float: left;
	margin-left: 80px;
	display: flex;
	align-items: center;
	height: 52px;
	@extend %listreset;
	li {
		display: inline-block;
		padding-right: 33px;
		@include media('<widescreen') {
		padding-right: 20px;
		}
	}
	.top-nav-link {
		font-size: 14px;
		line-height: 26px;
		color: $dark-blue;
		font-weight: 700;
	}
	@include media('<widescreen') {
		margin-left: 35px;
	}	
	@include media('<tablet') {
		display: none;
	}
}

.login-block {
	float: left;
	display: flex;
	height: 52px;
	align-items: center;
	.login-link {
		color: $dark-blue;
		font-size: 14px;
	}
	span {
		color: $dark-blue;
		font-size: 14px;
	}
	@include media('<tablet') {
	height: 30px;
	justify-content: center;
	}
}

.cart-block {
	float: right;
	display: flex;
	height: 52px;
	align-items: center;
	.cart {
	position: relative;
	width: 28px;
	height: 26px;
	padding: 0;
	background-color: transparent;
	border: 0;
		i {
			font-size: 20px;
			color: $dark-blue;
			font-weight: 700;
		}
		.quantity-cart {
			position: absolute;
			width: 14px;
			height: 14px;
			top: 0;
			right: -5px;
			font-size: 10px;
			border-radius: 50%;
			background-color: $brand-orange;
		}
	}
	@include media('<tablet') {
		height: 30px;
	}
}

// Main-Nav

.main-nav {
		background-color: $blue;
		position: relative;
			@include media('<tablet') {
				height: 50px;
				padding: 10px 20px;
		}
	}
	.nav-container {
		position: relative;
	}
	.logo {
		position: absolute;
		left: 0;
		top: 0;
		margin-top: -50px;
		z-index: 9999;
		img {
			height: auto;
		}
			@include media('<widescreen') {
				width: 125px;
				height: 125px;
				margin-top: -37.5px;
			}
			@include media('<tablet') {
				width: 110px;
				height: 110px;
				left: 10px;
				margin-top: -40px;
			}
		}
	.nav-drop {
		@extend %listreset;
		opacity: 1;
		position: static;
		background-color: transparent;
		padding: 0;
		text-align: right;
		@extend %clearfix;
		@include media('<=tablet') {
			text-align: right;
			opacity: 0;
			position: absolute;
			z-index: 999;
			top: 40px;
			width: 100%;
			background-color: $blue;
			padding: 10px 0;
			transition: left 0.3s, visible 0.3s, opacity 0.3s;
		}
		li {
		display: inline-block;
		padding: 0;
			&.active a {
				background-color: $brand-orange;
			}
			&.hover > a {
				background-color: $dark-blue;
				color: $white;
			}
			@include media('>=tablet') {
				position: relative;
			}
			&:last-child .drop-down {
				left: auto;
				right: 0;
				text-align: right;
			}
			@include media('<=tablet') {
			width: 100%;
			text-align: center;
			}
		}
		a {
			transition: background-color 0.3s, color 0.3s;
			color: $white;
			text-decoration: none;
			padding: 13px 20px;
			display: block;
			font-family: map-deep-get($base, font-Days);
			&:hover {
				color: $white;
				background-color: $dark-blue;
			}
			@include media('<widescreen') {
				padding: 15px 15px;
				font-size: 15px;
			}
			@include media('<=desktop') {
				padding: 19px 8px;
				font-size: 13px;
			}
		}
		.nav-active & {
			visibility: visible;
			opacity: 1;
			left: 0;
		}
		.drop-down {
		position: relative;
			&-content {
				@extend %listreset;
				position: absolute;
				padding: 15px 15px;
				background-color: $dark-blue;
				opacity: 0;
	        	visibility: hidden;
				@include media('<=tablet') {

				}
				li {
					width: 100%;
					margin-bottom: 20px;
					.triangle {
						display: inline-block;
						float: right;
						margin-top: 6px;
						@include triangle(10px, $white, right);
					}
					&:hover {
							color: $brand-orange;
							background-color: transparent;
							.triangle {
								@include triangle(12px, $brand-orange, right);
							}
							a {
								color: $brand-orange;
								background-color: transparent;
							}
						}
				}
				a {
					display: inline-block;
					float: left;
					font-family: map-deep-get($base, base-font-family);
					@include media('>=tablet') {
						color: $white;
						padding: 0px 5px;
						font-size: 16px;
						font-weight: 600;
					}
				}
			}
			&:hover {
				.drop-down-content {
					visibility: visible;
					background-color: $blue;
					opacity: 0.9;
					position: absolute;
					top: 100%;
					width: 350px;
					padding: 30px 30px 30px 37px;
					text-align: left;
					z-index: 99;
				}
			}
		}
		.drop-right {
		position: relative;
			&-content {
				@extend %listreset;
				padding: 15px 15px;
				background-color: $dark-blue;
				opacity: 0;
	        	visibility: hidden;
				@include media('>=tablet') {
					background-color: $blue;
					opacity: 0.8;
					position: absolute;
					top: -20px;
					left: 100%;
					width: 350px;
					padding: 30px 30px 30px 37px;
					text-align: left;
					z-index: 99;
				}
				li {
					width: 100%;
					margin-bottom: 20px;
					.triangle {
						display: inline-block;
						float: right;
						margin-top: 6px;
						@include triangle(10px, $white, right);
					}
					&:hover {
							color: $brand-orange;
							background-color: transparent;
							.triangle {
								@include triangle(12px, $brand-orange, right);
							}
							a {
								color: $brand-orange;
								background-color: transparent;
							}
						}
				}
				a {
					display: inline-block;
					float: left;
					font-family: map-deep-get($base, base-font-family);
					@include media('>=tablet') {
						color: $white;
						padding: 0px 5px;
						font-size: 16px;
						font-weight: 600;
					}
				}
			}
			&:hover {
				.drop-right-content {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.nav-opener {
		float: right;
		width: 30px;
		height: 30px;
		background: $dark-blue;
		position: relative;
		border-radius: 0px;
		display: block;
		z-index: 11;
		@include media('>=tablet') {
			display: none;
		}
		&:hover {
			opacity: .9;
		}
		.nav-active & {
			span {
				opacity: 0;
			}
			&:before,
			&:after {
				transform: rotate(45deg);
				top: 50%;
				left: 15%;
				right: 15%;
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
		span,
		&:before,
		&:after {
			background: $blue;
			border-radius: 0px;
			position: absolute;
			top: 50%;
			left: 25%;
			right: 25%;
			height: 2px;
			margin-top: -1px;
			/* height/2 */
			transition: all .3s linear;
		}
		&:before,
		&:after {
			content: '';
			top: 30%;
		}
		&:after {
			top: 70%;
		}
	}
	.search-opener {
		display: block;
		border: 0;
		padding: 13px;
		background-color: $dark-blue;
		transition: opacity 0.3s;
		&:hover {
			opacity: .5;
		}
		i {
			font-size: 24px;
			line-height: 1;
			font-weight: 700;
			vertical-align: text-top;
		}
		@include media('<=tablet') {
			margin: 0 auto;
		}
	}

	.triangle {
		display: block;
			@include triangle(12px, gray, down);
		}