$white: #fff;
$brand-orange: #eb7f00;
$light-orange: #eb7f00;
$blue: #3f5765;
$dark-blue: #2b3a42;


$headings: (
  'sizes': (
    'h1-font-size': 20px,
    'h2-font-size': 27px,
    'h3-font-size': 24px,
    'h4-font-size': 21px,
    'h5-font-size': 17px,
    'h6-font-size': 15px
  ),
  'fonts': (
    'headings-font-family': inherit,
    'headings-color': $brand-orange
  )
);

// Body
$base: (
  'base-font-sans-serif': unquote("Days, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-font-serif': unquote("Roboto,'Times New Roman', Times, Baskerville, Georgia, serif"),
  'base-text-color': $dark-blue,
  'base-background-color': $white,
  'base-link-color': $white,
  'base-font-size': 20px,
  'base-line-height': 1.2,
  'base-font-family': unquote("Lato, 'Helvetica Neue', Helvetica, sans-serif"),
  'vertical-rhythm': '(map-get($base, base-line-height) * 1em)',
  'base-min-width': 320px
);