/* Vendors*/
@import './bower/include-media/dist/include-media';

/* Base modules*/

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

/* Components */
@import 'components/gallery';
@import 'components/buttons';
@import 'components/question-form';
@import 'components/modals.scss';
@import 'components/item-card';
@import 'components/filter.scss';
@import 'components/pagination.scss';
@import 'components/bread-crumbs.scss';
@import 'components/news.scss';
@import 'components/order.scss';
@import 'components/login-page';

/* Vendors */
@import 'vendors/icons';
@import 'vendors/fonts';

/* Layouts */
@import 'layouts/common';
@import 'layouts/header';
@import 'layouts/main';
@import 'layouts/footer';
@import 'components/login-page';


.page-list {
	@extend %listreset; 
	display: block;
	margin: 0 auto;
	padding: 50px;
	width: 50%;
	background-color: $blue;
	text-align: center;
	margin-bottom: 50px;
}
.typography-list {
	@extend .page-list;
	background-color: $blue;
}
.icon-example {
	font-size: 30px;
}
.company-name {
	font-family: map-deep-get($base, font-Bookman);
}
.block {
	height: 500px;
}
.text-page {
	.container {
		padding: 30px 15px;
		h2 {
		@include media('<tablet') {
			font-size: 16px;
			}
		}
		p {
			color: $dark-blue;
			@include media('<tablet') {
			font-size: 12px;
			}
		}
	}
}